.menu-style{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.img-pro{
  width: 60px;
  border-radius: 50%;
  height: 60px;
}
.row{
  margin: 10px;
}